@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #211C1F;
}

/*Títulos y textos*/
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  color: #6F2E46;
  text-align: center;
}

img {
  max-width: 100%;
}

.subtitle {
  color: #211C1F;
}

p {
  color: #818282;
}

.header {
  background-color: #f7f2f3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-navbar {
  width: 260px;
  height: auto;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.hamburguesa {
  font-size: 2rem;
  color: #6f2e46;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.links-menu {
  color: #6f2e46;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.links-menu:hover {
  background-color: #d9a6b4;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.links-menu:active {
  background-color: #6F2E46;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.hero-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #d9a6b4;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.hero-contenido {
  width: 100%;
  padding-left: 0rem;
}

.hero-foto {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero-title {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  color: #6F2E46;
}

.hero-intro {
  font-size: 1.5rem;
  font-weight: 500;
  color: #211C1F;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.boton-proyectos {
  display: inline-block;
  background-color: #6F2E46;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 500;
}

.boton-proyectos:hover {
  background-color: #ffffff;
  color: #6F2E46;
  transition: 0.3s;
}

main {
  color: #211C1F;
  background-color: #F7F2F3;
  gap: 2rem;
  padding: 1rem;
}

.galeria-proyectos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.tarjeta-proyecto {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.tarjeta-proyecto:focus {
  outline: 3px solid #6F2E46;
  outline-offset: 4px;
}
.tarjeta-proyecto h2 {
  font-size: 1.5rem;
  color: #6F2E46;
  padding: 1rem;
}
.tarjeta-proyecto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
}
.tarjeta-proyecto p {
  font-size: 1rem;
  color: #818282;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .galeria-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "bites noura noura" "bites mundo tetoro";
    gap: 1rem;
  }
  .bites {
    grid-area: bites;
  }
  .noura {
    grid-area: noura;
  }
  .mundo {
    grid-area: mundo;
  }
  .tetoro {
    grid-area: tetoro;
  }
  .mobile {
    display: none;
  }
  .bites img {
    aspect-ratio: 1/1.5;
    object-fit: cover;
  }
  .noura img {
    aspect-ratio: 2/1;
    object-fit: cover;
  }
  .mundo img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .tetoro img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}

/*# sourceMappingURL=styles.css.map */
