//Color

$color-principal: #d9a6b4;
$color-oscuro: #6f2e46;
$color-claro: #f6f1f2;
$color-oscurotexto: #221c1f;
$color-clarotexto: #818282; 
$color-boton: #6f2e46;
$color-tarjeta: #ffffff;


//Fuentes

$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'DM Serif Display', serif;