@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;

footer {
    background-color: $color-claro;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5rem 1rem;
    text-align: center;

    ul {
        list-style: none;
        @include flex(null, center, null, 1.5rem);
        margin-bottom: 1rem;
        li {
            a {
                img {
                    width: 24px;
                    height: auto;
                    object-fit: contain;
                    display: block;
                }
            }
        }
    }

    p {
    font-size: 0.9rem;
    }
}