@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;

main {
    color: $color-oscurotexto;
    background-color: $color-claro;
    gap: 2rem;
    padding: 1rem;
}