@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;

@keyframes entrada-proyectos {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.galeria-proyectos {
    width: 100%;
    @include grid(1fr, null, null, 1rem);
    padding: 1rem;
}

.tarjeta-proyecto {
    background-color: $color-tarjeta;
    @include flex(column, center, center, 1rem);
    padding: 1rem;
    border-radius: 1rem;
    animation: entrada-proyectos 1s ease-out;

    &:focus {
        outline: 3px solid $color-oscuro;
        outline-offset: 4px;
    }

    h2 {
        font-size: 1.5rem;
        color: $color-oscuro;
        padding: 1rem;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 1rem;
    }

    p {
        font-size: 1rem;
        color: #818282;
        padding: 1rem;
        text-align: center;
    }
}

// Vista Tablet
@include tablet {
    .galeria-proyectos {
        @include grid(1fr 1fr, null, null, 1rem);
    }
}


// Vista Escritorio
@include desktop {
    .galeria-proyectos {
        @include grid(1fr 1fr 1fr, auto, "bites noura noura" "bites mundo tetoro", 1rem);
    }

    .bites {
        grid-area: bites;
        
        img {
        aspect-ratio: 1/1.5;
        object-fit: cover;
        }
    }

    .noura {
        grid-area: noura;

        img {
        aspect-ratio: 2/1;
        object-fit: cover;
        }   
    }

    .mundo {
        grid-area: mundo;

        img {
        aspect-ratio: 16/9;
        object-fit: cover;
        }   
    }

    .tetoro {
        grid-area: tetoro;
        
        img {
        aspect-ratio: 16/9;
        object-fit: cover;
        }
    }


    .mobile {
        display: none;
    }
}