@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;


.sobre-hero {
    @include flex(column, null, center, 2rem);
    background-color: $color-oscuro;
    border-radius: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.sobre-foto {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sobre-titulo {
    font-family: $fuente-secundaria;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    color: $color-white;
}

.sobre-description {
    font-size: 1.25rem;
    line-height: 1.6;
    color: $color-claro;
    margin-bottom: 1.5rem;
}


//Vista Tablet
@include tablet {
    .sobre-hero {
    flex-direction: row;
    }

    .sobre-foto {
        width: 40%;
    }

    .sobre-contenido {
        width: 60%;
        padding-left: 2rem;
    }
}

//Vista Escritorio
@include desktop {
    .sobre-hero {
        padding: 2rem 3rem;
    }

    .sobre-foto {
        width: 20%;
    }

    .sobre-contenido {
        width: 70%;
        padding-left: 3rem;
    }
}