@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
@use "../utilities/extend" as *;


.boton-proyectos {
    @extend %boton-base;
    background-color: $color-oscuro;
    color: $color-white;
    transition: 0.3s;

    &:hover {
        background-color: $color-white;
        color: $color-oscuro;
    }
}

.boton-sobre {
    @extend %boton-base;
    background-color: $color-white;
    color: $color-oscuro;
    transition: 0.3s;

    &:hover {
        background-color: $color-claro;
        color: $color-oscuro;
    }
}

.boton-na {
    @extend %boton-base;
    background-color: $na-verde;
    color: $color-white;
    transition: 0.3s;

    &:hover {
        background-color: $na-rosaclaro;
        color: $na-verde;
    }

}